
.jumbotron {
    background-color: transparent;
    text-align: center;
    height: 200px;


}

.lead {

    text-align: center;
}

body{
   background-color: dodgerblue;
    background-size: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

img{
    width: 200px;
}



